$theme-color: #555555;

$top-nav-bar-height: 54px;

/*#region scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow-y: overlay;
}
/*#endregion */

/*#region font*/
body {
  margin: 0px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
/*#endregion */

.top-nav-bar {
  height: $top-nav-bar-height;
  background-color: $theme-color;
  display: flex;
  justify-content: space-around;
  .header {
    height: $top-nav-bar-height;
    line-height: $top-nav-bar-height;
    color: #fafafa;
    display: flex;
    .title {
      font-size: 32px;
      text-align: center;
    }
    .sm-text {
      font-size: 12px;
      padding-top: 7px;
    }
  }
  .search-bar {
    width: 360px;
    // min-width: 160px;
  }
}

.tank-data {
  width: 180px;
  height: 200px;
  list-style: none;
  border-radius: 10px;
  background-color: #fafafa;
  margin: 20px;
  .img {
    width: 100%;
  }
}

.tank-data-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tier-btn {
  width: 48px;
  margin: 10px;
}

.pop-up {
  width: 40%;
  .content {
    display: flex;
    padding: 20px;
    .img {
      width: 160px;
      height: 100px;
    }
    .details {
      display: flex;
      flex-direction: column;
      text-align: left;
      .detail {
        margin-bottom: 5px;
      }
    }
  }
  .mobile-content {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .top-nav-bar {
    .header {
      .sm-text {
        display: none;
      }
    }
    .search-bar {
      min-width: 120px;
    }
  }

  .tank-data {
    width: 140px;
  }

  .tier-btn {
    width: 32px;
    margin: 2px;
  }

  .pop-up {
    width: 90%;
    .content {
      .details {
        .is-mobile {
          display: none;
        }
      }
    }
    .mobile-content {
      display: block;
      .detail {
        margin: 5px 20px 20px 20px;
        text-align: left;
      }
    }
  }
}
